{
    "$schema": "https://json.schemastore.org/prettierrc",
    "endOfLine": "crlf",
    "htmlWhitespaceSensitivity": "css",
    "jsxSingleQuote": true,
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "printWidth": 999999999,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "tailwindStylesheet": "./src/assets/css/index.css"
}
